.container {
    width: 100%;
    height: auto;
}

button {
    height: 3rem;
    width: auto;
    padding: 0 1rem;
    font-size: 11px;
    color: white;
    line-height: 3rem;
    border: none;
    background-color: black;
    outline: none;
    box-sizing: border-box;
    display: block;
}

input {
    height: 3rem;
    width: 70%;
    min-width: 15rem;
    border: 1px solid gray;
    padding: 0 1rem;
    flex: 2 2 100%;
    box-sizing: border-box;
    display: block;
    outline: none;
    margin-right: 1rem;
    font-size: 11px;
}


@media screen and (max-width: 900px) {
    .button {
        height: 4rem;
        width: 10rem;
    }
}

button:active {
    background-color: #dddbdb;
}

.start {
    background-color: #2ad110;
    width: 20%;
}

.stop {
    background-color: #ed0455;
    animation: heartbeat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    width: 20%;
}

.replay {
    background-color: #4c90ff;
    width: 20%;
}

@keyframes heartbeat {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.area:last-child {
    margin: 0;
}

.select {
    height: 3rem;
}

.Select-control {
    height: 3rem;
}

.error {
    border-color: #ed0455;
}
